@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

html {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url('bg.jpg');
  /* background-size: contain; */
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
  font-family: 'Balsamiq Sans', cursive;
  text-shadow: 0 0 5px black;
  font-size: 5vmin;
}

button {
  font-family: 'Balsamiq Sans', cursive;
  background-color: white;
  border: 0;
  border-radius: 1vmin;
  font-size: 5vmin;
}

button:focus {
  outline: none;
}

#madeby {
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 2vmin;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#content {
  font-size: 3vmin;
}

#content a {
  color: white;
}
